<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @order.user_name %>様。ご購入ありがとうございます</h1>
    <p>
      購入された商品<br>
      <% @cart_items.each do |cart_item| %>
        <%= cart_item.item.name %>数量:<%= cart_item.quantity %>個<br>
      <% end %>
      <% if @promotion_code %>
        割引額:<%= @promotion_code.discount_amount %>円
      <% end %>
      合計金額:<%= @total_amount %>円
    </p>
    <p>配送先住所<br>
      <%= @order.state %><br>
      <%= @order.zip %><%= @order.address1 %><br>
      <%= @order.address2 %>です。
    </p>
  </body>
</html>