<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @order.username %>様。ご購入ありがとうございます</h1>
    <p>
      購入された商品は<br>
      <% @order.current_cart.cart_items.each do |cart_item| %>
        <p><%= cart_item.name %></p>
        <p><%= cart_item.quantity %></p>
      です。<br>
    </p>
    <p>
        合計金額は<%= @order.current_cart.total_amount %>です。
    </p>
    <p>配送先住所は<br>
        <%= @order.address1 %><br>
        <%= @order.address2 %>です。
    </p>
    <% end %>
  </body>
</html>